{:deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/tools.macro {:mvn/version "0.1.5"}
        org.clojure/math.combinatorics {:mvn/version "0.1.5"}
        com.rpl/specter {:mvn/version "1.1.2"}
        oskarkv/utils {:mvn/version "0.1.0"}}
 :paths ["src"]}
